
body {
    text-align: center;
}

img {
    border-style: none;
}

#logo {
    margin: 20px;
}

#social {
    position: absolute;
    right: 0;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

#social iframe {
    margin: 5px;
}

#footer {
    margin-top: 10px;
}
