
* {
    box-sizing: border-box;
}

html {
    text-align: center;
}

img {
    border-style: none;
}

#promo {
    font-style: italic;
    margin: 20px;
}

#logo {
    margin: 20px;
}

#social {
    display: flex;
    justify-content: center;
}

#footer {
    margin-top: 10px;
}
