
.App {
  width: 100vmin;
  height: 100vmin;
  display: flex;

  font-size: 2vmin;

  border: 1px solid black;
}

h1 {
  font-size: 5em;
  line-height: 1.5;
  margin: 0;
}

aside {
  display: grid;
  flex: 1;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-content: flex-start;

  background: white;
}

aside h1, aside p.copy, aside h2, aside .PiecePreview {
  grid-column: span 2;
}

aside .score {
  font-size: 4em;
  line-height: 1.2;
  margin: 0;
}

.PiecePreview {
  background: black;
  width: calc(600vmin/24);;
  height: calc(400vmin/24);
  display: flex;
  justify-content: center;
  align-items: center;
}
