
.App {
  width: 100vmin;
  height: 100vmin;
  display: flex;

  font-size: 2vmin;

  border: 1px solid black;
}

h1 {
  font-size: 5em;
  line-height: 1.5;
  margin: 0;
}

aside {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  background: white;
}

aside .score {
  font-size: 5em;
  line-height: 1.2;
  margin: 0;
}

.PiecePreview {
  background: black;
  width: calc(600vmin/24);;
  height: calc(400vmin/24);
  display: flex;
  justify-content: center;
  align-items: center;
}
