* {
  box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
  background: hsl(120deg, 15%, 40%);
}
